Category:
<select>
  <option value="0">All</option>
  <option [value]="category.id" *ngFor="let category of categories$ | async">
    {{ category.name }}
  </option>
</select>

<table>
  <tr>
    <th>id</th>
    <th>productName</th>
    <th>productCode</th>
    <th>category</th>
  </tr>
  <tr *ngFor="let product of products$ | async">
    <td>{{ product.id }}</td>
    <td>{{ product.productName }}</td>
    <td>{{ product.productCode }}</td>
    <td>{{ product.category }}</td>
    <td><button>View Details</button></td>
    <td><button>Delete</button></td>
  </tr>
</table>
